.container {
  max-width: 56rem;
  padding: 8rem 1rem;
  margin: auto auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  background-color: black;
  color: #6bd2b3;
  font-size: larger;
  height: 8rem;
  text-align: center;
  font-weight: 500;
}

.headerImage {
  width: 8rem;
  margin-top: 0rem;
}